html{
    font-family: 'Open Sans';
}

body{
    overflow: auto;
    background-color: #f9fafc;
    margin: 20px 30px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

header {
    height: 80px;
}

header p{
    display: inline;
    font-weight: 700;
}

nav{
    float: right;
    right: 18%;
}

a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #69696a;
    width: 75px
}

a:hover{
    background-color: #000;
    color: #f9fafc;
    border-radius: 20px;
}

.main{
    display: inline-block;
    position: absolute;
    /* box-sizing: border-box; */
    float: left;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

.focus{
    margin-top: 0;
    font-weight: 700; 
    font-size: 2em;
}

.lorem{
    padding: 20px;
    border-left: 3px solid #69696a;
}

button{
    position: fixed;
    width: 100px;
    bottom: 0%;
    margin: 10px;
    left: 50%;
    border-radius: 20px;
    padding: 10px;
    transform: translateX(-50%);
    background-color: #000;
    color: #f9fafc;
    border: none;
}

.circles{
    position: relative;
    box-sizing: border-box;
    border: none;
    float: right;
    width: 50%;
    min-height: 500px;
}

#peach{
    position: absolute;
    background-color: rgba(247, 193, 162, 0.7);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    top: 50%;
    right: 18%;
    z-index: 10;
}

#purple{
    position: absolute;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    right: 18%;
    top: 20%;
    z-index: 8;
}

#pink{
    position: absolute;
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 50%;
    height: 350px;
    width: 350px;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
}