/* Applies Open Sans font to whole page */
html{
    font-family: 'Open Sans';
}

/* Sets background color of page and margins for entire body */
body{
    background-color: #f9fafc;
    margin: 20px 50px;
}

/* clearfix solution for floated elements */
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

header {
    height: 80px;
}

/* Set to inline block so margin could be adjusted to match the nav */
header p{
    display: inline-block;
    font-weight: 700;
    margin-top: 10px;
}

/* Positions nav at right side of header */
nav{
    float: right;
}

/* Removes decorations and centers text so that it appears correctly when in hover */
a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #69696a;
    width: 85px
}

/* Sets hover state of nav anchors */
a:hover{
    background-color: #000;
    color: #f9fafc;
    border-radius: 20px;
}

/* Container element for text contained on left side of page */
div{
    display: inline-block;
    position: relative;
    min-height: 500px;
    width: 53%;
    margin: 0;
} 

/* Sets layout for container holding text on left side of page*/
.main{
    display: block;
    position: absolute;
    float: left;
    top: 25%;
}

/* Styles company name text */
.focus{
    margin-top: 0;
    font-weight: 700; 
    font-size: 2em;
}

/* Style lorem ipsum text */
.lorem{
    padding-left: 20px;
    border-left: 3px solid #69696a;
}

/* Styles scroll button and fixes to bottom center of viewport*/
button{
    position: fixed;
    width: 100px;
    bottom: 0%;
    margin: 10px;
    left: 50%;
    border-radius: 20px;
    padding: 10px;
    transform: translateX(-50%);
    background-color: #000;
    color: #f9fafc;
    border: none;
}

/* Positions container for colored circles */
.circles{
    position: relative;
    box-sizing: border-box;
    border: none;
    float: right;
    width: 46%;
    min-height: 500px;
}

/* Sizes and styles peach colored circle */
#peach{
    position: absolute;
    background-color: rgba(247, 193, 162, 0.7);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    top: 65%;
    right: 0%;
    z-index: 10;
}

/* Sizes and styles purple colored circle */
#purple{
    position: absolute;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    right: 0%;
    top: 35%;
    z-index: 8;
}

/* Sizes and styles pink colored circle */
#pink{
    position: absolute;
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 50%;
    height: 350px;
    width: 350px;
    top: 65%;
    right: 20%;
    transform: translateY(-50%);
}